* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: open sans;
}

nav {
  position: sticky;
   width: 100%;  
   height: 80px;
   top: 0px;
   background-color: white;
}

.nav-logo {
	margin-left: 50px;
	display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px; 
}

nav .right-nav {
	margin-right: 100px;
	float: right;
}

.right-nav .nav{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;       
    line-height: 80px

}


.tuitt-button {
	background-color: #c2195b;
	padding: 1rem;
	border-radius:  30px;
	font-weight: bold;
	color:  white;
	font-size: 10px;
	border: .1px;
}

/*landing page*/
#bg-image {
	background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
	background-size: 100%;
	min-height: 55vh;
	background-repeat: no-repeat;
	background-position: right center;
}

.front-bg {
    background: rgba(0, 0, 0, 0.5);
    min-height: 55vh;
}

.container {
	width: 51%;
  padding-top: 30px;
	padding-right: 100px;
	float: right;
	text-align: right;
	color: white;
}

.title {
	font-size: 55px;
	font-family: Zilla Slab;
	opacity:1
}

.subtitle {
	margin-top: 20px;
	font-size: 20px;
	font-weight: normal;
}

.apply-button {
	background: #c2195b;
	padding: 0.5rem 40px;
	border-radius: 30px;
	font-weight: bold;
	color:  white;
	margin-top: 20px;
	border: 1px;
}

/*intro section*/
.intro {
	text-align: center;
	height: 30vh;
}

.intro-description {
	margin: auto;
	width: 70%;
	text-align: left;
}

/*prefooter*/
.pre-footer {
	text-align: center;
	background-color: #f7fbfb;
	height: 50vh;
}

.title-2{
	padding-top: 50px;
	text-align: center;
	margin-bottom: 30px;
	font-family: Zilla Slab;
}

.prefooter-description {
	margin-top: 30px;
}

.book-button {
	margin-top: 20px;
	padding: 10px 32px;	
	border-radius:  30px;
	background-color: #336589;
	color: white;
	border: .1px
} 

/*footer*/
footer {
	text-align: center;
}